body {
  margin: 0;
}
.box {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
header {
  height: 60px;
  line-height: 60px;
  font-size: 2em;
  font-weight: bold;
}
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  text-align: right;
}
nav,
article {
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  overflow: auto;
}
article {
  padding: 10px;
  margin-left: 260px;
  flex: 1;
}
nav {
  margin-right: 10px;
  width: 250px;
  position: fixed;
}
nav .on {
  color: #111;
  font-weight: bold;
  font-style: italic;
}
nav .on:hover {
  text-decoration: none;
}
#main {
  display: flex;
}
#menu > ul {
  padding: 10px;
  list-style-type: none;
  font-size: 14px;
}
#menu > ul > li > ul {
  padding-left: 2em;
}
#expand {
  display: none;
  height: 10px;
  z-index: 999999;
  position: fixed;
  top: 70px;
  right: 18px;
  padding: 24px;
  color: transparent;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}
#expand::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 10px;
  display: block;
  width: 15px;
  height: 2px;
  background: #222;
}
#expand::before {
  content: '';
  position: absolute;
  top: 25px;
  right: 10px;
  display: block;
  width: 15px;
  height: 3px;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
}
@media screen and (max-width: 800px) {
  body {
    margin: 0 8px;
  }
  header {
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #main,
  #expand {
    display: block;
  }
  article {
    margin: 0;
    height: auto!important;
  }
  nav {
    max-height: 300px;
    margin-right: 8px;
    right: 10px;
    top: 120px;
    display: none;
  }
  nav.show {
    display: block;
  }
  footer {
    position: static;
  }
}
