.box {
  max-width: 1200px;
  margin: 0 auto 1em;
}
nav,
article {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 3px;
  background: #fff;
}
nav {
  margin-right: 10px;
}
nav .on {
  color: #111;
  font-weight: bold;
  font-style: italic;
}
nav .on:hover {
  text-decoration: none;
}
article {
  flex: 1;
}
#main {
  display: flex;
}
#menu {
  position: sticky;
  top: 5px;
  margin: 10px 0px;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
}
#menu > li > ul {
  padding-left: 2em;
}
